.AdminSlotsTable {
  overflow: auto;
  margin-block: 1rem;
}

.AdminSlotsTable :where(th, td) {
  text-wrap: nowrap;
}

.slotStatusCell {
  text-align: left;

  padding: 0;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
}

.slotStatusCell select {
  cursor: pointer;
}

.viewButton {
  background-color: rgb(var(--admin-accent-color), 0.8);
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.deleteButton {
  background-color: rgb(250, 0, 0, 0.8);
  padding: 0.5rem 1rem;
  border-radius: 4px;
}
