.AdminSlotsTable {
  overflow: auto;
  margin-block: 1rem;
}

.AdminSlotsTable :where(th, td) {
  text-wrap: nowrap;
}

.slotStatusCell {
  text-align: left;

  padding: 0;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
}

.slotStatusCell select {
  cursor: pointer;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  gap: 1rem;
}

.viewLink {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(var(--admin-accent-color));
}

.deleteIcon {
  cursor: pointer;
  fill: rgb(250, 0, 0, 0.8);
}
