.event {
  padding: 1rem 1rem;
  margin-block: 1rem;

  background-color: var(--bg-secondary);
  backdrop-filter: blur(4px);
  border-radius: 8px;
}

.viewSlots {
  background: var(--bg-light);
  display: inline-block;
  padding: 0.25rem 1rem;
  margin-top: 0.5rem;
  border-radius: 5px;
}

.eventAvailable {
  border-bottom: 2px solid #008000;
}

.eventInProgress {
  border-bottom: 2px solid #ffa500;
}

.eventBooked {
  border-bottom: 2px solid #ff0000;
}

@media (min-width: 400px) {
  .event {
    margin: 0;
  }
}
