.table {
  width: 100%;

  border-collapse: collapse;

  backdrop-filter: blur(7px);
  box-shadow: var(--box-shadow);

  border-radius: 8px;
  overflow: hidden;
}

.table thead {
  position: sticky;
  top: 0;
}

.table thead tr {
  color: var(--text-color);
  background-color: #36304a;
}

.table th {
  font-weight: 400;
  line-height: 1.2;
  font-size: 1.1rem;
}

.table tr {
  color: #4c4c4c;
  line-height: 1.2;
  background-color: white;
}

.table tbody tr:nth-child(even) {
  background-color: #e9e9e9;
}

.table tbody tr:hover {
  color: black;
  font-weight: 500;
}

.table :where(table, th, td) {
  padding: 1rem;
  text-align: center;
}
