.EventsContainer {
  padding-block: 1rem;
}

.eventStatus {
  font-size: 1.25rem;
}

.event {
  padding: 1rem 1rem;
  margin-block: 1rem;

  background-color: var(--bg-secondary);
  backdrop-filter: blur(4px);
  border-radius: 8px;
}

.eventAvailable {
  border-bottom: 2px solid #008000;
}

.eventInProgress {
  border-bottom: 2px solid #ffa500;
}

.eventBooked {
  border-bottom: 2px solid #ff0000;
}

.viewSlots {
  background: var(--bg-light);
  display: inline-block;
  padding: 0.25rem 1rem;
  margin-top: 0.5rem;
  border-radius: 5px;
}

.filterContainer {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 1rem;
}

.filterContainer label {
  font-weight: 500;
}

.dateContainer {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.EventsContainer :where(select, input) {
  color-scheme: dark;

  position: relative;
  display: block;

  width: 100%;
  max-width: 200px;
  min-width: 200px;

  padding: 0.25rem 1rem;

  cursor: pointer;
  outline: transparent;

  border: transparent;
  border-radius: 6px;

  font-size: 1rem;
  color: #707070;
  background-color: var(--bg-secondary);
  backdrop-filter: blur(4px);
}

.EventsContainer select option {
  color: white;
  background-color: var(--bg-primary);
  backdrop-filter: blur(4px);

  outline: transparent;
  border: transparent;
}

@media (min-width: 400px) {
  .events {
    grid-gap: 1rem;
    display: grid;
    gap: 1rem;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(auto-fill, minmax(250px, auto));
    margin-block: 1rem;
  }

  .event {
    margin: 0;
  }
}
